/* Add your CSS code here */
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  max-height: 100px; /* Adjust height as needed */
  margin-left: 15px;
  align-items: center;
}

.TagLine {
  margin-left: 34px; /* Adjust spacing between logo and TagLine */
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(315deg, #000000 0%, #ed7c19 74%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-left: 25px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #cc0808 o !important;
}

main {
  margin-left: 200px; /* Adjust based on your sidebar width */
  padding: 70px;
}

/* Navigation bar styles */
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 256px; /* Adjust as needed */
  height: 100vh;
  background-color: #f6ca45; /* Dark primary color */
  color: rgb(0, 0, 0); /* Light primary color */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#nav-header {
  width: 100%;
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid #e9e9e6; /* Dark secondary color */
  display: flex; /* Added */
  justify-content: space-between; /* Added */
  align-items: center; /* Added */
}

#nav-title {
  color: #f5f6fa; /* Light primary color */
  font-size: 1.5rem;
  text-decoration: none;
}

#nav-toggle {
  display: none;
}

#nav-toggle-burger {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#nav-toggle-burger span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
  background-color: #f5f6fa; /* Light primary color */
}

#nav-content {
  flex-grow: 1;
  width: 100%;
  padding: 16px 0;
  overflow-y: auto;
}

/* Remove scrollbar */
#nav-content::-webkit-scrollbar {
  width: 0; /* Set scrollbar width to zero */
}

.nav-button {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #ed7c19; /* Dark secondary color */
}

.nav-button .fas {
  margin-right: 20px;
}

#nav-footer {
  width: 100%;
  padding: 10x;
  text-align: center;
  border-top: 1px solid #ffffff; /* Dark secondary color */
}

#nav-footer-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-footer-title {
  color: #f5f6fa; /* Light primary color */
  text-decoration: none;
}

#logout-button {
  background: none;
  border: none;
  color: #000000; /* Light primary color */
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

#logout-button:hover {
  color: #6c4f36; /* Light secondary color */
}

#logout-button .fas {
  margin-right: 10px;
}

/* Add your CSS code here */
/* Form styles */
.edit-profile-heading {
  text-align: center;
  margin-top: 1px; /* Adjust as needed */
  margin-bottom: 30px; /* Adjust as needed */
}

.edit-profile-form {
  width: 800px; /* Increased width */
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
  background-color: #f1f3db; /* Light yellow background color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.edit-profile-form:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.edit-profile-form h1 {
  margin-top: 0;
  
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.form-group label {
  margin-right: 10px;
  width: 140px; /* Increased width */
  text-align: right;
  color: #6c4f36; /* Dark brown color */
}

.form-group input,
.form-group select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
  outline:#6c4f36;
  border-color: #df7f11; /* Light orange color */
}


.form-actions {
  text-align: center;
  margin-top: 20px; /* Adjust spacing */
}


button {
  width: auto;
  padding: 16px 40px;
  border: none;
 
  border-radius: 5px;
  background-color: #df7f11; /* Light orange color */
  color: #040404; /* Black color */
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #8f6534; /* Dark orange color */
  transform: translateY(-3px);
}


.btn-group {
  position: relative;
  display: inline-block;
}

.btn-group .btn {
  background-color: #df7f11;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-group .btn:hover {
  background-color: #8f6534;
}

.btn-group .dropdown-menu {
  display: none;
  position: absolute;
  margin-right: 50px;
  background-color: #df7f11;
  min-width: 160px;
  z-index: 1;
}

.btn-group:hover .dropdown-menu {
  display: block;
}

.btn-group .dropdown-menu a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.btn-group .dropdown-menu a:hover {
  background-color: #97570e;
}

/* Add CSS for aligning header content to the right */
header {
  display: flex;
  justify-content: flex-end;
  padding: 7px;
  align-items: center;
  background-color: #e4d093;
}
