body {
  background-color: #ffefc0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f6ca45;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header .logo-container {
  display: flex;
  align-items: center;
}

.header .logo {
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: bounce 1s infinite alternate;
}

.header h1 {
  font-size: 2rem;
  color: #333;
  margin-left: 1rem;
}

.header .navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
}

.header .navigation ul {
  list-style: none;
  display: flex;
}

.header .navigation li {
  padding: 0 1rem;
}

.header .navigation a {
  color: #333;
  text-decoration: none;
}

.header .navigation a:hover {
  color: #f57c00;
}

.main {
  padding-top: 100px; /* Adjust padding to prevent overlap with fixed header */
  padding-bottom: 55px; /* Adjust padding to prevent overlap with fixed footer */
  text-align: center;
  
}


.main .login-form {
  max-width: 400px;
 
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
  
}

.main .login-form p.p-login {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.main .login-form .form-group {
  
  margin-bottom: 1.5rem;
}

.main .login-form .label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.main .login-form .form-control {
  height: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.main .login-form button[type="submit"] {
  height: 3rem;
  font-size: 1.5rem;
  padding: 0 2rem;
  background-color: #f57c00;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main .login-form button[type="submit"]:hover {
  background-color: #e65a00;
}

.main .login-form .link {
  margin-top: 1rem;
  font-size: 1.2rem;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  
  bottom: 0;
  width: 100%;
  position: relative;
}